.transaction {
  margin: auto;
  width: 400px;
  text-align: center;
  background-color: rgb(238, 236, 236);
  box-shadow: -1px -4px 13px 0 rgb(34 60 80 / 20%);
}

.tr {
  box-shadow: 1px 1px 1px 0 rgb(35 76 107 / 20%);
}
